*{
    padding: 0;
    margin: 0;
    tarnsition: all ease 1s;
}

.bg-cherii{
    background: #F3F2F2;
    border-bottom: 1px solid #FF7BAC;
}

.logo{
    margin-top: -15px;
}

.footer{
    height: 40px;
    background: #F3F2F2;
    border-top: 1px solid #FF7BAC;
}

@media screen and (max-width: 750px) {
    .logo{
        align: center;
        left: 50%;
        transform: translateX(-50%);
    }
}

.btn-back{
    background-color: #95B9F9;
    color: #FFF;
}

.btn-none{
    background-color: #FF7BAC;
    color: #F3F2F2;
}

.round{
    border-radius: 50px;
}

.btn-back:hover{
    background-color: rgba(149, 185, 249, 0.6);
    color: #FFF;
}

.btn-none:hover{
    background-color: rgba(255, 123, 172, 0.6);
    color: #F3F2F2;
}